<div class="container">
  <% if current_user.name == present? %>
    <h1>Bienvenido!</h1>
    <h2>Al parecer aun te faltan datos por completar...</h2>
    <h2>Te invitamos a seguir completando tus datos pinchando <%= link_to "AQUÃ!!!", edit_user_registration_path %> </h2>
  <% else %>
    <h1>Estas personas estan cerca de ti!</h1>
    <div class="row">
      <% @users.each_slice(3) do |row|  %>
        <% row.each do |user| %>
          <div class="col">
            <div class="card">
              <%= image_tag user.photo, class: 'card-img-top' %>
              <div class="body">
                <h5><%= user.name %></h5>
              </div>
            </div>
          </div>
        <% end %>
        <div class="w-100">

        </div>
      <% end %>
    </div>
  <% end %>
</div>
