<div class="container">
  <h1>Bienvenido!</h1>
  <h2>¿Qué habilidad deseas buscar?</h2>
  <input type="text" name="" value="">
  <h2>Escribe una dirección o selecciona tu ubicación</h2>
  
  <%= link_to "AQUÍ!!!", edit_user_registration_path %>
</div>
